/* css styles */

/* Remove theme default striping */
.table-striped > tbody > tr:nth-of-type(odd) > *,
.table-striped > tbody > tr:nth-of-type(even) > * {
  --bs-table-accent-bg: transparent !important;
  --bs-table-striped-bg: transparent !important;
  background-color: transparent !important;
}





h1, h2, h3{
  letter-spacing: -0.01em;
}
h2{
  margin-top: 1.2rem;
}

body {
  background-color: seashell;  /* change this color */
}

/* ---------- Tables (Quarto + kableExtra) ---------- */
table{
  background: #ffffff;
}

.table-explain {
  color: blue;   /* choose your color */
}
